body {
    background:#FEF4C7;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:21%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:#939C99;
    border-radius:5px;
    box-shadow: 5px 8px #043259;
      
}

.assignment img {
    width:200px;
    border: 2px solid #150713;
    margin-right:20px;
    border-radius: 5px;
    display:block;
    margin:auto;
}

h1{
    color: #043259;
    text-align:center;
}

a{
    text-decoration:none;
    color: #150713;
}

.assignment a:hover {
    color:#043259;
}